h1 {
    background-color: azure;
}

body {
    text-align: center;
    font-weight: normal;
    font-family: Arial, sans-serif;

}

table {
    margin: 0 auto;
    padding: 15px;
    background-color: lightgray;
    
}

.code {
    background-color: antiquewhite;
    font-family: monospace;
}

thead {
    font-size: larger;
    background-color: darkslategray;
    color: whitesmoke
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}